.call_to_action {
	@include paddingTopBottomSm;
	background: $grad;

	p {
		margin: 0;
		color: color(white);
		text-align: right;
	}

	.flex-center {
		justify-content: center;

		* {
			width: auto;

			&:not(:last-child) {
				margin-right: $paddingMain;

				@media (max-width: bp(nav)) {
					margin-right: 0;
				}
			}

			&.btn {
				width: auto;
				flex: none;
				width: 150px;

				@media (max-width: bp(nav)) {
					margin-top: $padding--sm;
				}
			}
		}
	}
}
