.full_width_image_with_text {
	@include paddingTopBottom;

	img {
		width: 100%;
		height: auto;
		max-width: 1400px;
		margin: 0 auto;
		display: block;
	}

	.col {
		margin-top: $padding--lg;
		max-width: 60%;
		width: 100%;

		@media (max-width: bp(nav)) {
			max-width: 100%;
			margin-top: $padding--sm;
		}
	}
}
