.full_width_header_section {
	@include paddingTopBottom;
	padding-top: $padding--sm;

	.logo {
		margin: 0 auto $padding--sm;
		display: block;

		@media (max-width: bp(nav)) {
			max-width: 50%;
			height: auto;
		}
	}

	.col {
		margin-top: $padding--lg;
		max-width: 80%;
		width: 100%;

		@media (max-width: bp(nav)) {
			max-width: 100%;
			margin-top: $padding--sm;
		}
	}
}
