.header_section {
	@include paddingTopBottom;
	padding-top: $padding--sm;

	h1 {
		margin: #{$padding--lg/2} 0;

		@media (max-width: bp(nav)) {
			margin-bottom: #{$padding--sm * 1};
		}
	}

	.column-layout {
		.col {
			&:nth-of-type(1) {
				@media (max-width: bp(nav)) {
					margin-bottom: #{$padding--sm * 2};
				}
			}
		}
	}

	.logo {
		max-width: 100%;
		height: auto;
	}
}
