.major_feature_with_cto {
	@include paddingTopBottom;
	background: $grad;

	h1,
	h2,
	h3,
	h4,
	h5,
	p,
	ul li {
		color: color(white);
	}

	.column-layout {
		.col {
			&:nth-of-type(1) {
				justify-content: flex-start;
			}

			&:nth-of-type(2) {
				margin-top: $padding--lg;
			}
		}
	}

	.accordion-section {
		border-bottom: 1px solid color(white, transparent);
		margin-top: $padding--sm;
		width: 100%;

		.accordion-header {
			border-bottom: none;
			border-top: 1px solid color(white, transparent);
			padding: #{$gap * 1.5} 0;
			display: flex;
			justify-content: space-between;
		}

		.accordion-item.open {
			.accordion-details {
				padding: 0 0 10px 0;
			}

			.accordion-icon {
				position: relative;

				&:after {
					transform: translate(0, 2px) rotate(-45deg);
				}
			}
		}

		.accordion-details {
			padding: 0;
			p,
			ul li {
				font-size: 1.6rem;
				line-height: 1.8;
				min-height: auto;
			}

			ul {
				@include bullets();

				li:before {
					background: color(white);
				}
			}
		}

		.accordion-icon {
			position: relative;

			&:after {
				content: "";
				width: 7px;
				height: 7px;
				display: block;
				margin-left: 10px;
				border-right: 2px solid color(white);
				border-top: 2px solid color(white);
				transform: translate(0, -3px) rotate(135deg);
				transition: transform $animationDuration;
			}
		}
	}
}
