.major_feature_two_column {
	@include paddingTopBottom;
	background: color(grey);

	h2 {
		margin-bottom: #{$padding--lg/2};

		@media (max-width: bp(nav)) {
			margin-bottom: #{$padding--sm};
		}
	}

	.column-layout {
		.col {
			&:nth-of-type(2) {
				@media (max-width: bp(nav)) {
					margin-top: #{$padding--sm * 2};
				}
			}
		}
	}
}
