.numbering {
	@include paddingTopBottom;
	background: color(grey);

	.title1 {
		margin-bottom: #{$padding--lg};

		@media (max-width: bp(nav)) {
			margin-bottom: #{$padding--sm * 2};
		}
	}

	.column-layout {
		justify-content: flex-end;

		&:not(:last-of-type) {
			margin-bottom: $padding--sm;
		}

		.col {
			&:nth-of-type(1) {
				width: 300px;
				height: auto;

				@media (max-width: bp(nav)) {
					width: 100%;
					max-width: 300px;
				}
			}

			&:nth-of-type(2) {
				margin-left: $padding--lg;

				@media (max-width: bp(nav)) {
					margin-left: 0;
					margin-top: $padding--sm;
				}

				p.title4 {
					color: color(grey, copy) !important;
				}
			}
		}
	}

	p.count {
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 3.8rem;
		border-radius: 50%;
		background: color(accent, orange);
		color: color(white);
		border: 1px solid color(white);
	}
}
