.products_option_1 {
	@include paddingTopBottom;

	h2 {
		margin-bottom: $padding--sm;

		&:not(:first-of-type) {
			margin-top: $padding--lg;
		}
	}

	.card .img-cont {
		max-width: 80%;
		margin: 0 auto;
	}

	.column-layout {
		margin-bottom: 10px;

		.col {
			&:nth-of-type(2) {
				position: relative;
				padding-left: #{$padding--lg/2};

				@media (max-width: bp(nav)) {
					padding-left: 0;
					padding: 20px 0;
				}

				.btn {
					margin-top: $padding--lg;

					@media (max-width: bp(nav)) {
						margin-top: #{$padding--sm * 1};
					}
				}

				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: calc(100% + ((100vw - 1200px) / 2));
					height: 100%;
					background-color: color(grey);
					display: block;
					z-index: 0;

					@media (max-width: 1200px) {
						width: calc(100% + 5vw);
					}

					@media (max-width: bp(nav)) {
						left: -5%;
					}
				}

				> * {
					z-index: 9;
				}
			}
		}
	}
}
