.products_option_2 {
	@include paddingTopBottom;

	.flex-center {
		.col {
			width: 50%;
		}
	}

	.btm {
		background-color: color(grey);
		padding: $padding--lg 0;

		@media (max-width: bp(nav)) {
			padding: #{$padding--sm * 2} 0;
		}
	}

	.card .img-cont {
		max-width: 60%;
		margin: 0 auto 20px;
	}

	.card-layout {
		justify-content: space-between;

		.card {
			background: color(white);
			border-radius: $borderRadius;
			padding: $gap #{$gap * 2};
			margin-right: 0 !important;
			width: calc((100% - #{$padding--sm}) / 2);
			margin-bottom: #{$padding--lg/2};

			@media (max-width: bp(xl)) {
				width: calc((100% - #{$padding--sm}) / 2);
				margin-bottom: $padding--sm;
			}

			@media (max-width: $mobile) {
				width: 100%;
			}

			&.full {
				width: 100%;

				.flex-center {
					margin-bottom: $gap;
					flex-direction: row !important;

					.btn:not(:last-of-type) {
						margin-right: #{$gap * 2};
					}
				}

				.column-layout {
					.col {
						&:nth-of-type(2) {
							justify-content: center;
							align-items: center;
						}
					}
				}
			}

			&.half {
				.img-crop {
					@media (max-width: bp(nav)) {
						margin: $padding--sm 0;
					}
				}

				.flex-center {
					margin-bottom: $gap;
					flex-direction: row !important;

					.btn:not(:last-of-type) {
						margin-right: #{$gap * 2};
					}
				}
			}

			&.full-bg {
				background-size: cover;
				background-position: center center;
				margin-right: 0 !important;

				h2 {
					background: color(accent);
					padding: 10px 20px;
					line-height: 1;
					color: color(white);
					border-radius: $borderRadius;
				}

				.flex-center:nth-of-type(1) {
					min-height: 400px;
					margin-top: 40px;

					@media (max-width: bp(nav)) {
						min-height: 200px;
					}
				}

				.flex-center:nth-of-type(2) {
					margin-bottom: $gap;
					flex-direction: row !important;

					.btn:not(:last-of-type) {
						margin-right: #{$gap * 2};
					}
				}
			}

			p.title3 {
				color: color(accent);
			}
		}
	}
}
