.specials {
	@include paddingTopBottom;
	border-top: 1px solid color(accent, orange);
	border-bottom: 1px solid color(accent, orange);

	.top-row {
		margin-bottom: #{$padding--lg/2};

		* {
			margin-bottom: 5px;
		}
	}

	.column-layout {
		.col {
			&:nth-of-type(2) {
				@media (max-width: bp(nav)) {
					margin-top: #{$padding--sm * 2};
				}
			}
		}
	}
}
