.two_column_content_media {
	.column-layout {
		.col {
			&:nth-of-type(1) {
				justify-content: flex-start;
			}

			&:nth-of-type(2) {
				margin-top: $padding--lg;
			}
		}
	}

	&.right {
		.column-layout {
			flex-direction: row-reverse;

			@media (max-width: bp(nav)) {
				flex-direction: column;
			}
		}
	}
}
