.home {
	.logo-slider {
		width: 100%;

		@media (max-width: bp(nav)) {
			width: calc(100% - #{$padding--sm * 2});
			margin: 0 auto;
		}
	}

	.headline {
		padding-bottom: 0;

		.callout {
			margin-bottom: 0;
		}
	}

	.brand {
		.logo {
			margin: #{$padding--lg/2} auto;
			display: block;
			max-width: 100%;
			height: auto;
		}

		.column-layout {
			.col:nth-of-type(1) {
				a {
					.img-crop {
					}
				}

				@media (max-width: bp(nav)) {
					margin-bottom: $padding--sm;
				}
			}

			.img-crop {
				border: 1px solid color(grey);
			}

			.title2 {
				line-height: 1.2;
			}

			.btn {
				margin-top: $padding--lg;

				@media (max-width: bp(nav)) {
					margin-top: $padding--sm;
				}
			}

			&:not(:last-of-type) {
				margin-bottom: $padding--lg;

				@media (max-width: bp(nav)) {
					margin-top: $padding--sm;
				}
			}
		}
	}
}
