<div class="video-bg">
  <video
    playsinline
    autoplay
    loop
    muted
    poster="poster.jpg"
    class="video-inline"
  >
    <source src="video.mp4" type="video/mp4" />
    <source src="video.webm" type="video/webm" />
  </video>
</div>
