.callout {
	background-color: color(accent, orange);
	color: color(white);
	margin: 0;
	padding: 10px 20px;
	padding-left: calc((100vw - 1200px) / 2);
	width: calc(50vw);
	min-height: 80px;
	font-size: 40px !important;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	position: relative;
	margin: 0 0 $padding--lg 0;

	@media (max-width: 1280px) {
		padding-left: 30px;
		width: 80vw;
	}

	@media (max-width: bp(nav)) {
		margin: 0 0 $paddingMainMobile 0;
	}

	@media (max-width: 960px) {
		width: calc(100% - 100px);
		line-height: 1 !important;
		font-size: 20px !important;
		height: 50px;
		min-height: auto;
		text-align: left;
		margin-top: 8px;
	}

	.triangle {
		position: absolute;
		top: 0;
		right: -30px;
		display: block;
		border-top: 40px solid transparent;
		border-bottom: 40px solid transparent;

		border-left: 30px solid color(accent, orange);

		@media (max-width: 960px) {
			right: -25px;
			border-top: 25px solid transparent;
			border-bottom: 25px solid transparent;

			border-left: 25px solid color(accent, orange);
		}
	}

	&:before {
		content: "";
		width: 50vw;
		height: 1px;
		position: absolute;
		right: -50vw;
		top: 40px;
		background-color: color(accent, orange);

		@media (max-width: 1280px) {
			right: -20vw;
		}

		@media (max-width: 960px) {
			width: 100px;
			right: -100px;
			top: 25px;
		}
	}
}
