/****************************************

FOOTER

****************************************/

.top {
	width: 60px;
	padding: 15px 10px;
	text-transform: uppercase;
	color: color(white);
	background: color(accent, orange);
	border-radius: $borderRadius 0 0 $borderRadius;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	bottom: 50px;
	right: -5px;
	font-size: 1.6rem;
	z-index: 99;
	cursor: pointer;
	transition: right $animationDuration;

	&:hover {
		right: 0px;
	}

	&:before {
		content: "";
		width: 7px;
		height: 7px;
		display: block;
		border-right: 1px solid color(white);
		border-top: 1px solid color(white);
		transform: rotate(-45deg);
		transition: transform $animationDuration;
	}
}

footer {
	@include paddingTopBottom;

	@media (max-width: bp(nav)) {
		padding-bottom: $padding--lg;
	}

	p {
		margin: 0;
		text-align: center;
		font-size: 1.6rem;
		color: color(black);
	}
}

.specials-tab {
	position: fixed;
	bottom: 0;
	left: 50px;
	background: #0e4486;
	color: color(white);
	text-transform: uppercase;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	font-size: 1.6rem;
	padding: 10px 20px;
	border-radius: 10px 10px 0px 0px;
	text-decoration: none;
	transition: padding 0.5s;

	@media (max-width: bp(nav)) {
		left: 10px;
	}

	&:hover {
		padding: 10px 20px 20px 20px;
	}
}
