/****************************************

GLOBAL

****************************************/

/****************************************
NINJAFORMS REBASE
****************************************/
.form-cont {
	margin: 30px 0;

	.nf-form-content {
		padding: none;
		max-width: auto;
	}

	h3 {
		display: none;
	}

	nf-field {
		width: 100%;
		float: left;
		margin: 0 10px 10px 0;

		.nf-field-container {
			margin-bottom: 0;
		}

		input,
		textarea {
			padding: 10px;
			float: left;
			width: 100%;
			height: auto;
		}
	}

	.nf-field-label {
		//display: none;
	}

	.nf-form-content input[type="button"] {
		background-color: color(accent);

		&:hover {
		}
	}

	.nf-form-fields-required {
		display: none;
	}
}
