/****************************************

FIXED HEADER

****************************************/
#wpadminbar {
	@media (max-width: bp(sm)) {
		display: none !important;
	}
}

html {
	@media (max-width: bp(sm)) {
		margin-top: 0 !important;
	}
}

header {
	width: 100%;
	z-index: 999;
	display: flex;
	position: relative;
	padding: 10px;
	background: color(white);
	transition: all 0.5s;

	&.scroll,
	&.drop-in {
		position: fixed;
		top: 0;
		animation-name: down;
		animation-duration: 1.5s;
		box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
	}

	@keyframes down {
		from {
			top: -400px;
		}
		to {
			top: 0;
		}
	}

	@media (max-width: bp(nav)) {
		display: block;
		padding: 10px;

		&.scroll {
			min-height: 50px;
			padding: 10px;
		}
	}

	.logo {
		width: 300px;
		display: block;
		margin-right: $paddingMain;

		@media (max-width: bp(nav)) {
			width: 70%;
			max-width: 300px;
			height: auto;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	.cont {
		width: 100%;
	}

	.inner {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		@media (max-width: bp(nav)) {
			justify-content: space-between;
			flex-wrap: wrap;
			flex-direction: row;
		}
	}

	.cont {
		@media (max-width: bp(nav)) {
			width: 100%;
			margin: 0;
		}
	}

	.menu-toggle {
		width: 50px;
		height: 50px;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;
		z-index: 99999;
		cursor: pointer;
		transition: all 0.5s;

		@media (min-width: bp(nav)) {
			display: none;
		}

		.line {
			border-bottom: 2px solid color(accent);
			width: 30px;
			height: 1px;
			position: relative;
			display: block;
			transition: all 0.5s;
		}
	}

	&.active {
		.menu-toggle {
			justify-content: center;

			.line {
				&:nth-of-type(3) {
					opacity: 0;
				}

				&:nth-of-type(1) {
					transform: rotate(45deg);
				}

				&:nth-of-type(2) {
					transform: rotate(-45deg) translate(1px, -2px);
				}
			}
		}

		#main-nav ul {
			max-height: 1000px;

			ul {
				max-height: 0;
			}
		}
	}

	#main-nav {
		width: 100%;

		ul {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			transition: max-height $animationDuration;

			@media (max-width: bp(nav)) {
				flex-direction: column;
				max-height: 0;
				overflow: hidden;
			}

			li {
				position: relative;

				@media (max-width: bp(nav)) {
					width: 100%;
				}

				&:nth-of-type(2) {
					a {
						display: flex;
						align-items: center;
						justify-content: center;
						position: relative;

						@media (max-width: bp(nav)) {
							justify-content: flex-start;
						}

						&:after {
							content: "";
							width: 7px;
							height: 7px;
							display: block;
							margin-left: 10px;
							border-right: 1px solid color(accent, orange);
							border-top: 1px solid color(accent, orange);
							transform: translate(0, -3px) rotate(135deg);
							transition: transform $animationDuration;
						}
					}
				}

				&:not(:last-of-type) {
					margin-right: 25px;

					@media (max-width: bp(nav)) {
						margin-right: 0;
					}
				}

				ul {
					position: absolute;
					width: 275px;
					top: 30px;
					flex-direction: column;
					justify-content: flex-start;
					align-items: flex-start;
					max-height: 0;
					padding: 0 10px;
					overflow: hidden;
					background: color(white);
					box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
					transition: max-height $animationDuration, padding $animationDuration;

					@media (max-width: bp(nav)) {
						width: 100%;
						position: relative;
						top: auto;
						box-shadow: none;

						&.active {
							max-height: 2000px;
						}
					}

					a {
						padding: 5px;

						&:after {
							display: none !important;
						}
					}
				}

				&:hover {
					@media (min-width: bp(nav)) {
						a:after {
							transform: translate(0, 2px) rotate(-45deg);
						}
						ul {
							max-height: 1000px;
							padding: 10px;
						}
					}
				}

				&.active {
					@media (max-width: bp(nav)) {
						a:after {
							transform: translate(0, 2px) rotate(-45deg);
						}
						ul {
							max-height: 1000px;
							padding: 10px;
						}
					}
				}
			}
		}

		a {
			font-size: fontsize(nav);
			line-height: 1.2;
			text-decoration: none;
			transition: color 0.5s;

			&:hover {
				color: color(accent);
			}
		}
	}
}

body.scroll {
	padding-top: 135px;
}
