/*-------------- WP NAV STRUCTURE ------------------*/
@at-root .logged-in header {
	top: 32px;

	@media (max-width: bp(sm)) {
		top: 45px;

		&.scroll {
			top: 0;
		}
	}
}

#main-nav {
	&.active {
	}

	.menu-main-menu-container {
		ul {
			li {
				a {
				}

				&.current-menu-item {
					a {
						&:after {
						}
					}
				}

				.sub-menu {
					opacity: 0;
					position: absolute;
					display: flex;
					flex-direction: column;
					align-items: flex-start;

					transition: all 0.5s;

					li {
						a {
						}
					}
				}

				&:hover {
					.sub-menu {
						opacity: 1;
					}
				}

				li.current_page_item,
				li.current_page_parent {
					.sub-menu {
						li a,
						li.current_page_item a {
						}
					}
				}
			}
		}
	}
}
