/****************************************

VARIABLES

****************************************/
@import "_functions";

// MSC
$animationDuration: 0.5s;

//fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$headlineFont: "Lato", serif;
$bodyFont: "Lato", sans-serif;

//font sizes
$fontSizes: (
	h1: 6rem,
	h2: 5rem,
	h3: 4rem,
	h4: 3rem,
	h5: 2rem,
	p: 1.8rem,
	eyebrow: 1.4rem,
	disclaimer: 1.4rem,
	nav: 1.5rem,
	xlform: 5.2rem,
);

//break points
$breakPoints: (
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
	nav: 992px,
	tablet: 1024px,
	sm-desktop: 1200px,
	lg-desktop: 1400px,
);

$mobile: bp(nav);

//Spacing
$padding--xs: 1rem;
$padding--sm: 2rem;
$padding--lg: 8rem;
$paddingMain: $padding--sm;
$paddingMainMobile: 2rem;
$gap: 1rem;

$borderRadius: 10px;

$elementSpacingDesktop: 2rem;
@mixin elementSpacing {
	margin-bottom: $elementSpacingDesktop;
}

@mixin paddingAllSides {
	padding: $padding--lg;

	@media (max-width: bp(nav)) {
		padding: $paddingMainMobile;
	}
}

@mixin paddingAllSidesSm {
	padding: $padding--sm;

	@media (max-width: bp(nav)) {
		//padding: $paddingMainMobile;
	}
}

@mixin paddingAllSidesXs {
	padding: $padding--xs;
}

@mixin paddingTopBottom {
	padding: $padding--lg 0;

	@media (max-width: bp(nav)) {
		padding: #{$padding--sm * 2} 0;
	}
}

@mixin paddingTopBottomSm {
	padding: $padding--sm 0;

	@media (max-width: bp(nav)) {
		//padding: $paddingMainMobile 0;
	}
}

@mixin paddingTopBottomXs {
	padding: $padding--xs 0;
}

//colors
$colors: (
	white: (
		base: #fff,
		transparent: rgba(255, 255, 255, 0.25),
	),
	black: (
		base: #000,
	),
	grey: (
		base: #f2f2f2,
		copy: #767676,
	),
	accent: (
		base: #225fa5,
		orange: #ff7200,
		lightBlue: #246fc7,
	),
);

$grad: linear-gradient(90deg, #0e4486 0%, #246fc7 100%);
